<div>
    <form ng-submit="submitContact()">
            <label>Name</label>
            <input type="text" ng-model="contact.name" ><br />
            <label>Email</label>
            <input type="text" ng-model="contact.email" ><br />
            <label>Phone</label>
            <input type="text" ng-model="contact.phone" ><br />
            <button>Submit</button>
    </form>
</div>


<a href="/user/abc">User 1</a><br />
<a href="/user/xyz">User 2</a><br />
<a href="/user/mno">User 3</a><br />
<a href="/user/pqr">User 4</a><br />
<br /><br /><br />