<!doctype html>
<html ng-app="myapp">
    <head>
    </head>
    <body>
        <div ng-controller="AbcController">
            {{x | number:4}}<br />
            {{y | currency :'&#x20b9;'}}<br />
            {{mytext | titlecase}} <br />
            {{mytext | uppercase}} <br />
            {{mytext | lowercase}} <br />
            {{mydate | date}} <br />
            {{mydate | date:'dd/MM/yyyy h:mm'}} <br />
            <select ng-model="studentSorter" ng-init="studentSorter='name'">
                    <option value="name">name</option>
                    <option value="roll">roll</option>
            </select>
            <input ng-model="myfilter">
            <div ng-repeat="student in students | orderBy:studentSorter | filter:myfilter | limitTo:4">
                {{student.name}} - {{student.roll}}
            </div>
        </div>
        <script src="libs/angular.min.js">
        </script>
        <script src="js/app.js"></script>
    </body>
</html>